<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringRabbitMQ - Docker build" type="docker-deploy" factoryName="dockerfile" server-name="Docker">
    <deployment type="dockerfile">
      <settings>
        <option name="imageTag" value="spring-rabbitmq" />
        <option name="containerName" value="" />
        <option name="sourceFilePath" value="SpringRabbitMQ/Dockerfile" />
      </settings>
    </deployment>
    <method v="2" />
  </configuration>
</component>